 <div class="container background-form" >
 <div class="row justify-content-center">


    <div class="col-sm-12 col-md-12">
<h1>Agenda tus Keeper</h1>
<p>Puedes reagendar tus keepers cuando quieras </p>

<%= render 'modal'%>
<div id="calendar" style='width: 100%; ' data-token= "<%= form_authenticity_token %>"></div>

</div>
</div>
</div>


