 <div class="row justify-content-center">
  <div class="col-8">
 <div class="container background-form" align="center">
<h1>Tu Calendario de solicitudes keeper</h1>
<p>Puedes reagendar tus keepers cuando quieras </p>
<div id="calendar" data-token= "<%= form_authenticity_token %>"></div>

</div>
</div>
</div>


