  <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="<%= root_path %>"> FlatKeeper </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Empezar</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Registrate como Owner</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Sobre nosotros</h5>
                    <ul>
                        <li><a href="#">Nuesta Empresa </a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-instagram"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contactanos!</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Copyright © 2019 Chile - Flat Keeper - Todos los derechos reservados </p>
        </div>
    </footer>