<div class="container " >
  <div class="content-centered">
    <div class="row justify-content-center">
      <div class="avatar-solicitudes" >
        <div class="img-avatar button-effect">
          <div class="link-text-avatar"><strong><a href="<%= new_cleaning_request_path %>"> AGENDAR KEEPER</a></strong> </div>
        </div>
      </div>
      <div class="avatar-solicitudes" >
        <div class="img-avatar button-effect">
          <div class="link-text-avatar"> <strong> <a href="<%= new_flat_detail_path %>"> MIS PROPIEDADES</a></strong></div>
        </div>
      </div>
      <div class="avatar-solicitudes" >
        <div class="img-avatar button-effect">
          <div class="link-text-avatar"><strong> <a href="<%= full_calendars_path %>"> MI CALENDARIO </a> </strong></div>
        </div>
      </div>
      <div class="avatar-solicitudes" >
        <div class="img-avatar button-effect">
          <div class="link-text-avatar"><strong>  <a href="<%= geomaps_path %>"> MIS UBICACIONES </a> </strong></div>
        </div>
      </div>
    </div>
    <div class="row" style="height:50vh;"></div>
  </div>
</div>
