// Place all the styles related to the avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-centered { margin: auto; max-width: 50vh;}
.avatar-solicitudes {
    border-radius: 50%;
    margin: 5vh;
    border: 2vh solid #6b5b95;
    box-shadow: 0 0 5vh -2vh rgba(241, 231, 231,0.2);
    position: relative;
}
.avatar-solicitudes div:active{
    box-shadow: 2vh 1vh 5vh -1vh rgba(241, 231, 231, 0.6);
    
}
.avatar-solicitudes .avatar-text span {
    margin: 2vh;
    bottom: -13vh;
    left: -1vh;
   //@at-root position: absolute;
    float:right;
    vertical-align:bottom;
    position: absolute;
 }
 .button-effect div {
    display:inline-block;
   border:1px solid #CCC;
    cursor:pointer;
    vertical-align:middle;
    text-align: center;
    color: #6b5b95;
}
 .avatar-text {
    color:black !important;
    text-align: center;
    font-size: 3vh;
}

.img-avatar-cser{
    border-radius: 50%;
    height: 23vh;
    width: 23vh;
    background-image: image-url("avatars/CleaningService5.png");
    background-size: cover;
   // opacity: 0.6;
  
}
.img-avatar-prop{
    border-radius: 50%;
    height: 23vh;
    width: 23vh;
    background-image: image-url("avatars/myProperties3.png");
    background-size: cover;
   // opacity: 0.6;
  
}
.img-avatar-maps{
    border-radius: 50%;
    height: 23vh;
    width: 23vh;
    background-image: image-url("avatars/location-blue.png");
    background-size: cover;
    //opacity: 0.6;
  
}
.img-avatar-cal{
    border-radius: 50%;
    height: 23vh;
    width: 23vh;
    background-image: image-url("avatars/calendario2.jpg");
    background-size: cover;
   //@debug opacity: 0.6;
  
}
.img-avatar-pay{
    border-radius: 50%;
    height: 23vh;
    width: 23vh;
    background-image: image-url("avatars/payment3.png");
    background-size: cover;
   //@debug opacity: 0.6;
  
}


.link-text-avatar  {
    margin-top: 8vh;
    color: #6b5b95;
  // background-color: #6b5b95;
    border-radius: 10%;
   padding: 1%;
   vertical-align:middle;
   text-align: center;
}
