



.nav-config {

  z-index: 10;
  margin: 0 auto; width: 100%;
  position: fixed;

  padding-left: 0px;
  padding-right: 0px;
  font-size: 2vh;
/*  height: 17vh; */
}


 
.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    
    position: relative;
   
    overflow: hidden;
  
  }

  .background-form{

    background-color: white;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  #calendar{

    background-color: white;

  }
  .content:before 
  {
    background-image: image-url("background/Real-Estate.jpg");
  
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
 
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
 
  // body {
  //   background-image: url(../FlatKeeper/app/assets/images/background/Real-Estate.jpg);
  //   background-color: #b61515;
  //  }
 h1 p{
  font-family: 'Varela Round', sans-serif !important;

 }
   
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:lightseagreen;
  }

  
  .navbar-brand small {
    display:block;
    font-size:14px;
  }
  .nav-link{

    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-style: bold; 
  }
  .navbar-toggle {top:10px}
  
  