
.nav-config {

  z-index: 10;
  margin: 0 auto; width: 100%;
  position: fixed;

  padding-left: 0px;
  padding-right: 0px;
  font-size: 2vh;
 
}
.content {
    margin-top: 6rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
  }

  .background-form{

    background-color: white;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }


  #calendar{

    background-color: white;

  }
  .content:before 
  {
    background-image: image-url("background/Real-Estate.jpg");
  
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
 
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
 
 h1 p{
  font-family: 'Varela Round', sans-serif !important;

 }
   
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:lightseagreen;
}

.navbar-brand img{
    height: 10vh;

  }
  .navbar-brand small {
    display:block;
    font-size:16px;
    font-display: bold;
    text-align: center;
  }
  .nav-link{

    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-style: bold; 
  }
  .navbar-toggle {top:10px}
  
  @media screen and (max-width: 768px) {
    .navbar-brand small {
      display:block;
    font-size:16px;
    font-display: bold;
    text-align: center;
    }
    .background-form{

      background-color: white;
      padding-bottom: 10vh;
      padding-top: 10vh;
      margin-top: 12vh;
      margin-bottom: 5vh;
    }
    .content {
      margin-top: 10rem;
      margin-bottom: 2rem;
      position: relative;
      overflow: hidden;
    }
   
  }

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #6b5b95;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

