 <div class="container background-form" >
 <div class="row justify-content-center">
<div class="col-sm-12 col-md-12">

  <h1>Ubicaciones de tus propiedades</h1>
  <p>Verifica la correcta ubicación de propiedades</p>
  <div class="row">
<div class="col-sm-10">
      <div style='width:100%;'>
        <div id="map" style='width: 100%; height: 90vh;'></div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({
  provider: {
  center: new google.maps.LatLng({lat: -33.4372, lng: -70.6506}),
  zoom: 7
  },
  internal: {
  id: 'map'
  }
  },
  function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  }
  );
</script>
